<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Todo Application</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

<div class="container">
    <div class="todo-card">

        <h1 class="text-center mb-4">Todo Application</h1>

        <h5>Total Tasks:
            <span th:text="${#lists.size(tasks)}"></span>
        </h5>
       

        <!-- ADD TASK -->
        <form action="/tasks" method="post" class="row">
            <div class="col-md-10">
                <input class="form-control form-control-lg"
                       type="text"
                       name="title"
                       placeholder="Add a new task..."
                       required>
            </div>

            <div class="col-md-2">
                <button type="submit" class="btn btn-primary btn-lg w-100">
                    Add
                </button>
            </div>
        </form>

        <!-- TASK LIST -->
        <div class="mt-4">
            <th:block th:each="task : ${tasks}">
                <div class="card mb-2">
                    <div class="card-body d-flex justify-content-between align-items-center">

                        <span th:classappend="${task.completed} ? 'text-strikethrough' : ''"
                              th:text="${task.title}">
                        </span>

                       <div>
                 <button type="button"
                      th:attr="onclick='toggleTask(event,' + ${task.id} + ')'"
                class="btn btn-outline-secondary btn-sm">
             Toggle
                </button>
                 <a th:href="@{/tasks/{id}/delete(id=${task.id})}"
                     class="btn btn-outline-danger btn-sm ms-2">
                     Delete
                    </a>
                        </div>

                    </div>
                </div>
            </th:block>
        </div>

           
        <!-- PROGRESS BAR -->
        <div class="progress mt-4">
            <div class="progress-bar bg-success"
                 th:style="'width:' + (${#lists.size(tasks)} == 0 ? 0 :
                 (${#lists.size(tasks.?[completed])} * 100 / ${#lists.size(tasks)}) ) + '%'">
            </div>
        </div>

        <!-- DARK MODE -->
        <div class="text-center mt-4">
            <button onclick="toggleDark()" class="btn btn-dark btn-sm">
                Dark Mode
            </button>
        </div>

    </div>
</div>

<!-- SOUND -->
<audio id="sound" src="/sounds/fahhh.mp3"></audio>

<!-- CONFETTI -->
<script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.6.0/dist/confetti.browser.min.js"></script>

<!-- JS -->
<script src="/js/script.js"></script>

</body>
</html>